h1{
    font-size: 40px;
    font-family: 'Libre Baskerville', serif;

}
h2{
    font-size: 33px;
    font-family: Arial, Helvetica, sans-serif;
}
#head{
    margin-left: 40px;
}
h3{
    font-size: 24px;
    font-family: bold;
}

body{
    margin: 0;
    font-family: 'Cormorant Garamond', serif;
}
.about-me{
    margin-left: 10px;
    font-weight: 40%;
}
.half-me{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
	margin-bottom:5%
}
.half-me img {
    width: 100%;
}

section{
    height: 500px;
    padding-bottom: 50px;
}
.button{
    padding: 10px 20px;
    background-image: linear-gradient(47deg, orange, tomato ,red);
    font-size: larger;
    font-weight: 700;
    color: white;
    text-decoration: none;
    border-radius: 10px;
}

.blue-highlight{
    color: rgb(11, 142, 182);
}
p{
    color: rgb(71, 67, 67);
    font-weight: 550;
    font-size: 19px;
}


#new-web{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, rgb(7, 216, 24) ,rgb(218, 214, 13));
   border-image-slice: 1; 
}
#full-stac{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, rgb(17, 175, 223),rgb(126, 66, 238));
    border-image-slice: 1;   
}
#music-web{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, rgb(233, 21, 21),rgb(192, 59, 152));
    border-image-slice: 1;   
}
footer p{
    text-align: center;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

.backgroun-text{

	background-image:url("image00.png");
	background-repeat: no-repeat;
    background-position: center;
	margin-left: 380px;
	width:500px;
	height: 100px;
    padding-bottom: 50px;
	border-radius: 4px ,solid;
}
.last-part{
	width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 4%;
	font-size:20px;
	color: white;
}

.abc{
	text-align:center;
	
}	
.my-experiences{
    background-color: rgba(218, 218, 214, 0.459);
	width:96%;
	margin:2%;
	padding:2%;
	border-radius: 2px, solid;
	height:600px;
}
.single-box{
    box-shadow: 12px 12px 45px rgb(161, 165, 159);
    border-radius: 6px;
	height: 65%;
    background-color: white;
	width: 25%;
	float:left;
	float: left;
    margin-left: 4%;
    padding-left: 2%;
	background-repeat:no-repeat;
	
}
.image-size{
	height:250 px;
	width:280px;
}

.name-hilight{
    color: orange;
}
.backgroun-img{
 background-image:url(image00.png);
	background-size:full;
	background-attachment:fixed;
	background-repeat: no-repeat;
	height:100%;
	width:100%;	
}
.background-size{
	margin-left: 150px;
    margin-bottom:50px;
	margin-top:7%;
	width:1000px;
	height:200px;
	border-radius: 5px solid;
}
.last-part{
	width: 40%;
    float: left;
    margin-top: 10%;
    padding-left: 4%;
	color: white;
}
.left-text{
    font-size: 35px;
    font-family: sans-serif;
    margin-left: 6%;
}
.right-text{
    text-align: center;
}
.button{
    padding: 8px 15px;
    background-image: linear-gradient(47deg, orange, tomato ,rgba(238, 255, 0, 0.877));
    font-weight:700;
    text-decoration: none;
    border-radius: 10px;
    width: 20%;
    margin-left: 15%;
}

.icon{
	height:80px;
	width:75px;
	margin-left:4px;
	padding-left: 3px;
	float:left;
}
.icon-img{
    float: left;
    margin-left: 30px;
}
.bonus-part{
	height:380px;
	width:320px;
	background-color:rgb(248, 212, 236);
	margin-left: 380px;
	padding-left: 10px;
}
.social-midea{
	padding-top:10px;
	margin-left:10px;
}
.my-contact{
	color:blue;
	margin-top:12px;
    padding-top:7px;
    margin-left: 35px;
    padding-left: 20px;
}
.contact{
	font-family: 'Varela Round', sans-serif;
	font-size:25px;
	color:rgba(10, 172, 172, 0.747);
    font-weight: 700;
    padding-left: 5px;
    margin-right: 6px;
}

footer p{
    text-align: center;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
	margin-top:50px;
}
